dy{
font-family: 'Arial', sans-serif;
background-color: indigo;
color: blue;
}
h1{
 color: green;
}
/* Attribute Selector */
a{
color: none;
text-decoration: none;
}
a:hover{
color: green;
}
/* Child Selector */
/*Proceeding*/
ul>li {
font-weight: bold;
}

/* Sibling Selector */
/*procedding*/
h1+p {
background-color: yellow;
 padding: 10px;
border-radius: 5px;
}
/* :hover Pseudo-class - procedding */
ul li:hover {
color: yellowgreen;
}
/* :nth-child(n) Pseudo-class - procedding*/
ul li:nth-child(3) {
background-color: olive;
width: 210px;
}
/* :not(selector) Pseudo-class - procedding*/
p:not(:first-of-type) {
text-decoration: underline;
}
/* ::before Pseudo-element - procedding */
ul li::before {
content: " 🌳 ";
}

/* ::after Pseudo-element */

a::after {

    content: " 🏔️ ";
}
/*almost finished*/
p::first-letter {
 font-size: 180%;
color: green ;
}